
   /* AddTo.css */

.AddTo-Heading {
  text-align: center;
  margin: 20px 0;
}

.AddTo-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.AddTo-card {
  margin: 10px;
  padding: 10px;
}

.AddTo-main-image {
 width: 30%;
  height: 250px;
  margin: 0 auto;
}

.AddTo-Card-Details {
  padding: 10px;
  text-align: center;
}

.AddTo-Size,
.AddTo-Color,
.AddTo-Price {
  margin: 5px 0;
}

.AddTo-total {
  text-align: center;
  margin: 20px 0;
}

.AddTo-Total-Price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.AddTo-buy-now {
  text-align: center;
  margin: 20px 0;
}
