/* .container-Row */
.container-Row {
  background-color: #f0f0f0; /* Light gray color */
  width: 30rem;
  height: 28rem;
  border-radius: 2rem;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.container-Row:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* #loginForm */
#loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 30rem;
  color: #000; /* Black text color */
}

#loginForm h2 {
  border-bottom: 0.1rem solid #000;
  border-radius: 1rem;
  width: 15rem;
  text-align: center;
  justify-content: center;
  margin-left: 6rem;
}

#loginForm input {
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 20rem;
  margin: 0 auto;
  transition: all ease 0.3s;
  background-color: #fff; /* White background for input fields */
  color: #000; /* Black text color */
  padding: 0.5rem 1rem;
}

#loginForm input:hover,
#loginForm input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::placeholder {
  position: absolute;
  left: 1rem;
  color: #999;
}

::placeholder:hover {
  font-weight: 500;
  color: #666;
}

#loginForm button {
  width: 20rem;
  border: none;
  color: #fff;
  background-color: #333;
  margin: 0 auto;
  border-radius: 2rem;
  transition: 0.7s;
  padding: 0.5rem 1rem;
}

#loginForm button:hover {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  background: #555;
  color: #ccc;
}

#loginForm .a-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

#loginForm .a-style a {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #333;
}

#loginForm .a-style a:nth-child(1) {
  font-weight: 500;
}

#loginForm .a-style a:nth-child(2) {
  font-size: 25px;
}

#loginForm .a-style a:nth-child(2):hover {
  color: #000;
}

/* Product Page CSS */
