/* .container-Row */
.container-Row {
  background-color: #f0f0f0; /* Light gray color */
  width: 30rem;
  height: 28rem;
  border-radius: 2rem;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.container-Row:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* #loginForm */
#loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 30rem;
  color: #000; /* Black text color */
}

#loginForm h2 {
  border-bottom: 0.1rem solid #000;
  border-radius: 1rem;
  width: 15rem;
  text-align: center;
  justify-content: center;
  margin-left: 6rem;
}

#loginForm input {
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 20rem;
  margin: 0 auto;
  transition: all ease 0.3s;
  background-color: #fff; /* White background for input fields */
  color: #000; /* Black text color */
  padding: 0.5rem 1rem;
}

#loginForm input:hover,
#loginForm input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::placeholder {
  position: absolute;
  left: 1rem;
  color: #999;
}

::placeholder:hover {
  font-weight: 500;
  color: #666;
}

#loginForm button {
  width: 20rem;
  border: none;
  color: #fff;
  background-color: #333;
  margin: 0 auto;
  border-radius: 2rem;
  transition: 0.7s;
  padding: 0.5rem 1rem;
}

#loginForm button:hover {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  background: #555;
  color: #ccc;
}

#loginForm .a-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

#loginForm .a-style a {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #333;
}

#loginForm .a-style a:nth-child(1) {
  font-weight: 500;
}

#loginForm .a-style a:nth-child(2) {
  font-size: 25px;
}

#loginForm .a-style a:nth-child(2):hover {
  color: #000;
}

/* Product Page CSS */
.cloth-top {
  text-align: center;
  border-bottom: 2px solid #000;
  font-weight: 900;
  position: relative;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
  color: #000;
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.img1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.details {
  padding: 10px;
  text-align: center;
}

.brown-text {
  color: #666;
}

.rat {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.off {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .cloth-top {
    width: 50%;
    left: 0;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .cloth-top {
    width: 70%;
  }

  .card {
    margin-bottom: 20px;
  }
}