.Navbar{
  padding: 10px 10px ;

}
.brand {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  animation: brandAnimation 1s ease-in-out infinite alternate;
}

@keyframes brandAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.me-auto {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
 /* margin-left: 30rem; */
}

.item-style {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.item-style::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e2d5d5;
  transition: width 0.3s ease;
}

.item-style:hover {
  color: #bdb3b3;
}

.item-style:hover::before {
  width: 100%;
}



.cart-icon {
  font-size: 30px;
  width: 10px;
  color: #ece7e7;
  margin-right: 3rem; 
  transition: color 0.3s ease;
  font-weight: 800;
}

.nav-style,
.logout-style,
.login-style {
  color: white;
  font-size: .7rem;
  margin-right: .1rem;
  position: relative;
  transition: all 0.3s ease;
}


.nav-style:hover,
.logout-style:hover,
.login-style:hover{
  color: lightgray;
  transform: scale(1.09);
}

.nav-style::before,
.logout-style::before,
.login-style::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-style:hover::before,
.logout-style:hover::before,
.login-style:hover::before{
  width: 100%;
}

.logStatus {
  justify-content: center;
  letter-spacing: 0.2rem;
}

.logStatus,
.logStatus a {
  display: flex;
}


@media (max-width: 767px) {
  nav {
    padding: 0px;
  }

  .Navbar {
    padding: 0.2rem;
  }

  .nav-style,
  .logout-style,
  .login-style,
  .register-style {
    margin: 0.5rem 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }

  .form-inline .form-control {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .form-inline .btn {
    width: 100%;
  }


  .logStatus {
    align-self: center;
    display: flex;
  }

  .logStatus *:not(span) {
    /* padding: 0.02rem;
    border: 2px solid gray; */
    border-radius: 10px;
    margin: 0.4rem;
  }

  .logout-style {
    border: 1px solid white;
    border-radius: 25px;
    padding: 0.08rem;
    align-self: center;
  }

}


.cart-icon {
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}
